.total,
.positive {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 12px;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 12px;
}

.item {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}
